<template>
    <v-app>
        <v-toolbar app>
            <v-toolbar-title>Sarafan</v-toolbar-title>
            <v-btn flat
                    v-if="profile"
                    :disabled="$route.path === '/'"
                    @click="showMessages">
                Messages
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn flat
                   v-if="profile"
                   :disabled="$route.path === '/user'"
                   @click="showProfile">
                {{profile.name}}
            </v-btn>
            <v-btn v-if="profile" icon href="/logout">
                <v-icon>exit_to_app</v-icon>
            </v-btn>
        </v-toolbar>
        <v-content>
            <v-container v-if="!profile">
                Необходимо авторизоваться через
                <a href="/login">Google</a>
            </v-container>
            <v-container v-if="profile">
                <router-view></router-view>
            </v-container>
        </v-content>


    </v-app>
</template>

<script>
    import {mapMutations, mapState} from 'vuex'
    import MessagesList from 'pages/MessageList.vue'
    import {addHanlder} from "util/ws"

    export default {
        components: {
            MessagesList
        },
        computed: mapState(['profile']),
        methods: {
            ...mapMutations([
                'addMessageMutation',
                'updateMessageMutation',
                'removeMessageMutation',
                'addCommentMutation'
            ]),
            showMessages() {
                this.$router.push('/')
            },
            showProfile() {
                this.$router.push('/user')
            },
        },
        created() {
            addHanlder(data => {
                if (data.objectType === 'MESSAGE') {
                    switch (data.eventType) {
                        case 'CREATE':
                            this.addMessageMutation(data.body)
                            break
                        case 'UPDATE':
                            this.updateMessageMutation(data.body)
                            break
                        case 'REMOVE':
                            this.removeMessageMutation(data.body)
                            break
                        default:
                            console.error(`Look like the event type if unknown "${data.eventType}"`)
                    }
                } else if (data.objectType === 'COMMENT') {
                    switch (data.eventType) {
                        case 'CREATE':
                            this.addCommentMutation(data.body)
                            break
                        default:
                            console.error(`Look like the event type if unknown "${data.eventType}"`)
                    }
                } else {
                    console.error(`Look like the object type if unknown "${data.objectType}"`)
                }
            })
        },
        // TODO bug auth page login user after reload
        // beforeMount() {
        //     if (!this.profile) {
        //         this.$router.replace('/auth')
        //     }
        // }
        }
</script>

<style>
</style>